@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center" with style="margin-top:-100px">
    <img  class="center-block" height="300px" width="300px" src="https://uploads-ssl.webflow.com/5f7da9758e9dbca1e953c128/608a7c11354dfae818220872_Logo_wexo_bom%C3%A6rke%2Bwexo_web_white.svg">
</div>

<div class="row text-light " with style="margin-top: -50px">
    <h2 class="text-center "><strong>Movie</strong><strong> Genre</strong></h2>
</div>

<div class="container">
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Romance
    </a>
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Documentary
    </a>
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Thriller
    </a>
</div>
<div class="container2">
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Action
    </a>
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Comedy
    </a>
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Horror
    </a>
</div>
<div class="container3">
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Drama
    </a>
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        War
    </a>
    <a class="button" href="#" style="--color:#6600FF;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Crime
    </a>
</div>